.app__navbar {
  background-color: var(--black-web);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid white;
}

.app__navbar-logo_img {
  width: 100px;
  position: relative;
  z-index: 15;
}

.app__navbar-logo::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 35px;
  margin-top: 15px;
  margin-left: 15px;
  background: linear-gradient(
    90deg,
    rgb(215, 30, 30),
    rgb(221, 135, 65),
    rgb(235, 223, 60),
    rgb(146, 232, 135),
    rgb(170, 238, 193),
    rgb(169, 243, 237),
    rgb(167, 200, 249)
  );
  background-size: 400% 400%;
  animation: anim 2.5s infinite ease-in-out;
  z-index: 1;
}

.app__navabr-content_second-download {
  background: var(--orange-web);
  width: 163.72px;
  height: 54px;
  display: flex;
  padding: 17px;
  gap: 10px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;

  font-family: "Aldrich", sans-serif;
  color: var(--white-web);
  font-weight: 600;
  letter-spacing: 1.5px;

  cursor: pointer;
  transition: .3s;
}

.line {
  height: 20px;
  width: 1px;
  background-color: var(--white-web);
}

.app__navabr-content_second-download:hover .line,
.app__navabr-content_second-download:hover p {
  display: none;
}
.app__navabr-content_second-download:hover .icon-download {
  margin: auto;
}

.icon-download {
  font-size: 1.4em;
}


.icon-check{
  display: none;
  margin: auto;
  font-size: 1.4em;
}
